* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
}

header {
    height: 15vh;
    background-color: #1f1f1f;
    position: sticky; /* fixed */
    top: 0;
}

button {
    width: 10vh;
    color: #000;
}

p {
    color: #000;
}